.About {
  padding-top: 5px;
}

.About > #bannerImage {
  background: url("https://www.smartertravel.com/uploads/2017/06/shutterstock_531181849-1400x500.jpg");
  width: 100%;
  height: 35vh;
  min-height: 10rem;
  max-height: 20rem;
  background-position: center;
  background-size: cover;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  z-index: -1;
  margin-bottom: 15px;
}

.About > p {
  padding: 8px;
  margin: 0 auto;
  min-width: 775px;
  width: 80%;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

#currentLocation {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
}

#currentLocation > img {
  width: 25px;
  padding-bottom: 3px;
}

#currentLocation > h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 28px;
  padding: 0 15px;
  letter-spacing: 1px;
}
