.About {
  padding-top: 5px;
  padding-bottom: 50px;
  margin: 0 123px;
}

#imageContainer {
  text-align: center;
}

#currentLocation {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
}

#currentLocation > img {
  width: 25px;
  padding-bottom: 3px;
}

#currentLocation > h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  padding: 0 15px;
  color: #333;
}

.About > div > p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}
