.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.mainContent {
  margin-left: 15rem;
  width: 100%;
}

header {
  margin-bottom: 35px;
}

header > * {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header > h1 {
  padding-top: 25px;
  color: #333;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 10px;
  /* text-shadow: 4px 4px 4px rgba(0,0,0,0.3); */
}

header > h2 {
  color: #598B69;
  font-size: 40px;
  font-weight: 400;
}
