.Project {
  border: 2px solid #333;
  border-radius: 5px;
  background: linear-gradient(#eaeaea 85%, #ddd);
  margin: 30px 15px;
  margin-top: 0;
  padding-bottom: 5px;
  flex-basis: 30rem;
  transition: 0.2s;
  box-shadow: 3px 3px 4px 1px rgba(30, 30, 30, 0.4);
  display: flex;
  flex-direction: column;
  position: relative;
}

.Project:hover {
  transform: scale(1.05);
}

.Project > #image {
  height: 15rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #333;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Project > #info {
  position: relative;
  padding: 5px;
}

.Project > #info > h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333;
  padding: 5px;
  display: inline-block;
}

.Project > #info > p {
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 5px;
  padding-bottom: 15px;
  font-weight: 300;
  line-height: 1.5;
  font-size: 17px;
}

.Project > #info > #githubLink > img {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
  transition: 0.2s;
  filter: invert(0.1);
}

.Project > #info > #githubLink > img:hover {
  filter: invert(0.3);
}

.Project > #info > #liveLink {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #598B69;
  padding: 5px;
  transition: 0.2s ease;
  text-decoration: none;
}

.Project > #info > #liveLink:hover {
  color: #7bad8b;
  text-decoration: underline;
}

#techList {
  list-style: none;
  display: flex;
  margin-top: auto;
}

#techList > .tech {
  height: 100%;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  padding: 3px 7px;
  text-align: center;
}

#techList > .tech:first-of-type {
  border-left: none;
}

#techList > .HTML { background: #f51; }
#techList > .CSS { background: #0dc; }
#techList > .JavaScript { background: #fd0 }
#techList > .React { background: #0df; }
#techList > .Node { background: #7b4; }
#techList > .PostgreSQL { background: #47b; }
#techList > .Express { background: #999; }
#techList > .AWS { background: #f90; }
#techList > .Docker { background: #09e; }
#techList > .Nginx { background: #283; }

#closeProjectButton {
  width: 35px;
  filter: contrast(0.9);
  border-radius: 50%;
  border: 2px solid #7bad8b;
  position: absolute;
  top: -16px;
  left: -16px;
  cursor: pointer;
  transition: 0.2s ease;
}

#closeProjectButton:hover {
  transform: scale(1.1);
}
