.About {
  margin: 0 auto;
  margin-top: 35px;
  width: 70vw;
}

.About > p {
  padding: 8px;
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

#currentLocation {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
}

#currentLocation > img {
  width: 25px;
  padding-bottom: 3px;
}

#currentLocation > h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 28px;
  padding: 0 15px;
  letter-spacing: 1px;
}
