.app {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}

.mainContent {
  flex-basis: 83%;
}

header > * {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  padding-top: 10px;
  color: #333;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 10px;
}

h2 {
  color: #598B69;
  font-size: 40px;
  font-weight: 400;
}


.mainText {
  margin: 0 auto;
  margin-top: 16px;
  padding: 8px;
  width: 70vw;
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  text-align: center;
}
