.app {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.mainContent {
  margin-left: 15rem;
  width: 83%;
}

header {
  margin-bottom: 35px;
}

header > * {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header > h1 {
  padding-top: 25px;
  color: #333;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 10px;
}

header > h2 {
  color: #598B69;
  font-size: 40px;
  font-weight: 400;
}
